.main {
    position: relative;
    width: 600px;
    height: 600px;
    border-style: solid;
    border-radius: 50%;
    margin: auto;
}
.sub1 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0px;
    left: 250px;
    background-color: red;
    border-radius: 50%;
}
.sub2_1 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 400px;
    background-color: red;
    border-radius: 50%;
}
.sub2_2 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 100px;
    background-color: red;
    border-radius: 50%;
}
.sub3_1 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 175px;
    left: 15px;
    background-color: red;
    border-radius: 50%;
}
.sub3_2 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 175px;
    left: 489px;
    background-color: red;
    border-radius: 50%
}
.sub4_1 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 328px;
    left: 12px;
    background-color: red;
    border-radius: 50%;
}
.sub4_2 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 325px;
    left: 489px;
    background-color: red;
    border-radius: 50%;
}
.sub5_1 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 450px;
    left: 100px;
    background-color: red;
    border-radius: 50%;
}
.sub5_2 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 450px;
    left: 400px;
    background-color: red;
    border-radius: 50%;
}
.sub6 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 500px;
    left: 250px;
    background-color: red;
    border-radius: 50%;
}
@keyframes loading {
    0% {background-color: yellow; top: 0px; left: 250px;}
    10% {background-color: green; top: 50px; left: 400px;}
    20% {background-color: black; top: 175px; left: 489px;}
    30% {background-color: aqua; top: 325px; left: 489px;}
    40% {background-color: purple; top: 450px; left: 400px;}
    50% {background-color: grey; top: 500px; left: 250px;}
    60% {background-color: rgb(50, 20, 184); top: 450px; left: 100px;}
    70% {background-color: rgb(25, 195, 207); top: 328px; left: 12px;}
    80% {background-color: red; top: 50px; left: 100px;}
    90% {background-color: rgb(223, 14, 212); top: 50px; left: 100px;}
    100% {background-color: rgb(206, 178, 22); top: 0px; left: 250px;}
}
.a {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    position:absolute;
    animation-name: loading;
    animation-duration: 10s;
}