.box {
    background-color:aqua;
    width: 380px;
    height: 650px;
    margin:auto;
}
li {background-color: aqua;
    width: 100px;
    height: 100px;
    display: inline-block;
    list-style: none}
li:nth-child(2n+1) {
    background-color: violet;
    width: 100px;
    height: 100px;
    display: inline-block;
    list-style: none;
} 